 a {
	 scroll-margin: 20vh;
 }

@media screen and (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}
}

/* Demo styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 140%;
	font-family: serif;
	padding: 6vw;
}

h1 {
	font-family: sans-serif;
}

ul {
	margin-top: 2vw;
	list-style: none;
	display: grid;
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(189.92125984px, 1fr));
	grid-gap: 2vw;
}

ul li a {
	display: grid;
	place-items: center;
	aspect-ratio: 1/1;
	/* background: blue; */
	color: white;
	text-decoration: none;
	border-radius: 3px;
}

ul li a:focus {
	background: ghostwhite;
	outline-color: blue;
	color: blue;
}